{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">Jake Tsuchiyama</h1>
    <h4 class="text-center">My name is Jake Tsuchiyama, and I am a software engineer from Honolulu, Hawaii. I am currently attending Santa Clara University to obtain my B.S. in Computer Science and Engineering. My hobbies include: coding, ukulele, graphic design, weight training, marathon running, and healthy eating/cooking. On this website, you will find a portfolio of coding projects, ukulele covers, and art.</h3>
{% endblock %}