{% extends "base.html" %}

{% block content %}
<HEAD>
	<SCRIPT language="javascript">
		// addRow and deleteRow functions credit to ViralPatel
		function addRow(tableID) {

			var table = document.getElementById(tableID);

			var rowCount = table.rows.length;
			var row = table.insertRow(rowCount);

			var colCount = table.rows[0].cells.length;

			for(var i=0; i<colCount; i++) {

				var newcell	= row.insertCell(i);

				newcell.innerHTML = table.rows[0].cells[i].innerHTML;

				// Sets the default values in the cells depending on what type of the data they hold
				switch(newcell.childNodes[0].type) {
					case "text":
							newcell.childNodes[0].value = "";
							break;
					case "checkbox":
							newcell.childNodes[0].checked = false;
							break;
					case "select-one":
							newcell.childNodes[0].selectedIndex = 0;
							break;
				}
			}
		}

		function deleteRow(tableID) {
			try {
			var table = document.getElementById(tableID);
			var rowCount = table.rows.length;

			for(var i=0; i<rowCount; i++) {
				var row = table.rows[i];
				var chkbox = row.cells[0].childNodes[0];
				if(null != chkbox && true == chkbox.checked) {
					// Checks if there is a row that should and can be deleted
					if(rowCount <= 1) {
						alert("You must have at least one set in your workout!");
						break;
					}
					table.deleteRow(i);
					rowCount--;
					i--;
				}


			}
			}catch(e) {
				alert(e);
			}
		}

	</SCRIPT>
</HEAD>

<h3 class="title">
   {{ name }}
</h3>

<div class="box">
	<form method="POST" action="">
	</form>
</div>

<div class="box">
    <form method="POST" action="{{ url_for('main.log_post') }}">
        <BODY>
            <INPUT type="button" class="button is-block is-info is-large is-fullwidth" value="Add Set" onclick="addRow('dataTable')" />
        
            <INPUT type="button" class="button is-block is-info is-large is-fullwidth" value="Delete Set" onclick="deleteRow('dataTable')" />
        
            <TABLE id="dataTable" width="350px" border="1">
                <TR>
                    <TD><INPUT type="checkbox" name="chk"/></TD>
                    <TD><INPUT type="text" name="name" placeholder="Exercise Name"/></TD>
                    <TD>
                        <SELECT name="typ" placeholder="Other">
                            <OPTION value="Abs">Abs</OPTION>
                            <OPTION value="Back">Back</OPTION>
                            <OPTION value="Bicep">Bicep</OPTION>
                            <OPTION value="Chest">Chest</OPTION>
                            <OPTION value="Legs">Legs</OPTION>
                            <OPTION value="Tricep">Tricep</OPTION>
							<OPTION value="Other">Other</OPTION>
                        </SELECT>
                    </TD>
                    <TD><INPUT type="number" name="weight" placeholder="Weight"/></TD>
                    <TD><INPUT type="number" name="reps" placeholder="Reps"/></TD>
					<TD><INPUT type="number" name="sets" placeholder="Sets"/></TD>
                </TR>

				<INPUT type="hidden" name="workout_id"  value="{{ workout_id }}">
            </TABLE>

			<script>	
				// Change sets to json format so that the Python list can be parsed
				var sets = {{ sets|tojson }};
				var table = document.getElementById('dataTable');

				var options = ["Abs","Back","Bicep","Chest","Legs","Tricep","Other"];
				for(var i=0; i<sets.length; i++){
					// Loads the cells with the information from the workout
					addRow('dataTable');

					var row = table.rows[i];

					for(var j=1; j<row.cells.length; j++) {
						if (row.cells[j].childNodes[0].type == undefined) {
							// If the node is a dropdown, then find and set the approriate exercise type
							for(var k=0; k<7; k++) 
								if (sets[i][j] == options[k])
									row.cells[j].childNodes[1].selectedIndex = k;
						}

						else
							if (row.cells[j].childNodes[0].name === "sets")
								// Sets the approriate value for the amount of sets
								row.cells[j].childNodes[0].value = sets[i][7];
							else
								// Sets the approriate values for the cells besides the amount of sets
								row.cells[j].childNodes[0].value = sets[i][j];
					}			
				}
				if (i != 0) {
					// Gets rid of the extra row that gets created
					table.deleteRow(i);
				}

					
			</script>

        </BODY>

        <button class="button is-block is-info is-large is-fullwidth">Log workout</button>
    </form>
</div>
<h2>
  <a href="{{ url_for('main.profile') }}" class="title">Back to profile</a>
</h2>
{% endblock %}