{% extends "base.html" %}

{% block content %}
<HEAD>
	<TITLE> Add/Remove dynamic rows in HTML table </TITLE>
	<SCRIPT language="javascript">
		function addRow(tableID) {

			var table = document.getElementById(tableID);

			var rowCount = table.rows.length;
			var row = table.insertRow(rowCount);

			var colCount = table.rows[0].cells.length;

			for(var i=0; i<colCount; i++) {

				var newcell	= row.insertCell(i);

				newcell.innerHTML = table.rows[0].cells[i].innerHTML;
				//alert(newcell.childNodes);
				switch(newcell.childNodes[0].type) {
					case "text":
							newcell.childNodes[0].value = "";
							break;
					case "checkbox":
							newcell.childNodes[0].checked = false;
							break;
					case "select-one":
							newcell.childNodes[0].selectedIndex = 0;
							break;
				}
			}
		}

		function deleteRow(tableID) {
			try {
			var table = document.getElementById(tableID);
			var rowCount = table.rows.length;

			for(var i=0; i<rowCount; i++) {
				var row = table.rows[i];
				var chkbox = row.cells[0].childNodes[0];
				if(null != chkbox && true == chkbox.checked) {
					if(rowCount <= 1) {
						alert("Cannot delete all the rows.");
						break;
					}
					table.deleteRow(i);
					rowCount--;
					i--;
				}


			}
			}catch(e) {
				alert(e);
			}
		}

	</SCRIPT>
</HEAD>

<h3 class="title">
  New Workout
</h3>
<div class="box">
    <form method="POST" action="/newlog">
        <BODY>

            <INPUT type="button" class="button is-block is-info is-large is-fullwidth" value="Add Row" onclick="addRow('dataTable')" />
        
            <INPUT type="button" class="button is-block is-info is-large is-fullwidth" value="Delete Row" onclick="deleteRow('dataTable')" />
        
            <TABLE id="dataTable" width="350px" border="1">
                <TR>
                    <TD><INPUT type="checkbox" name="chk"/></TD>
                    <TD><INPUT type="text" name="name" placeholder="Exercise Name"/></TD>
                    <TD>
                        <SELECT name="typ" placeholder="Other">
                            <OPTION value="Other">Other</OPTION>
                            <OPTION value="Abs">Abs</OPTION>
                            <OPTION value="Back">Back</OPTION>
                            <OPTION value="Bicep">Bicep</OPTION>
                            <OPTION value="Chest">Chest</OPTION>
                            <OPTION value="Legs">Legs</OPTION>
                            <OPTION value="Tricep">Tricep</OPTION>
                        </SELECT>
                    </TD>
                    <TD><INPUT type="number" name="weight" placeholder="Weight"/></TD>
                    <TD><INPUT type="number" name="reps" placeholder="Reps"/></TD>
                    
                </TR>
            </TABLE>
        </BODY>

        <button class="button is-block is-info is-large is-fullwidth">Log workout</button>
    </form>
</div>
<h2>
  <a href="{{ url_for('main.profile') }}" class="title">Back to profile</a>
</h2>
{% endblock %}