{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('auth.signup_post') }}">login page</a">.
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('auth.signup') }}">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <SELECT class="input is-large" name="timezone" autofocus="">
                        <OPTION value="Africa/Abidjan">Africa/Abidjan</OPTION>
                        <OPTION value="Africa/Accra">Africa/Accra</OPTION>
                        <OPTION value="Africa/Addis_Ababa">Africa/Addis_Ababa</OPTION>
                        <OPTION value="Africa/Algiers">Africa/Algiers</OPTION>
                        <OPTION value="Africa/Asmara">Africa/Asmara</OPTION>
                        <OPTION value="Africa/Asmera">Africa/Asmera</OPTION>
                        <OPTION value="Africa/Bamako">Africa/Bamako</OPTION>
                        <OPTION value="Africa/Bangui">Africa/Bangui</OPTION>
                        <OPTION value="Africa/Banjul">Africa/Banjul</OPTION>
                        <OPTION value="Africa/Bissau">Africa/Bissau</OPTION>
                        <OPTION value="Africa/Blantyre">Africa/Blantyre</OPTION>
                        <OPTION value="Africa/Brazzaville">Africa/Brazzaville</OPTION>
                        <OPTION value="Africa/Bujumbura">Africa/Bujumbura</OPTION>
                        <OPTION value="Africa/Cairo">Africa/Cairo</OPTION>
                        <OPTION value="Africa/Casablanca">Africa/Casablanca</OPTION>
                        <OPTION value="Africa/Ceuta">Africa/Ceuta</OPTION>
                        <OPTION value="Africa/Conakry">Africa/Conakry</OPTION>
                        <OPTION value="Africa/Dakar">Africa/Dakar</OPTION>
                        <OPTION value="Africa/Dar_es_Salaam">Africa/Dar_es_Salaam</OPTION>
                        <OPTION value="Africa/Djibouti">Africa/Djibouti</OPTION>
                        <OPTION value="Africa/Douala">Africa/Douala</OPTION>
                        <OPTION value="Africa/El_Aaiun">Africa/El_Aaiun</OPTION>
                        <OPTION value="Africa/Freetown">Africa/Freetown</OPTION>
                        <OPTION value="Africa/Gaborone">Africa/Gaborone</OPTION>
                        <OPTION value="Africa/Harare">Africa/Harare</OPTION>
                        <OPTION value="Africa/Johannesburg">Africa/Johannesburg</OPTION>
                        <OPTION value="Africa/Juba">Africa/Juba</OPTION>
                        <OPTION value="Africa/Kampala">Africa/Kampala</OPTION>
                        <OPTION value="Africa/Khartoum">Africa/Khartoum</OPTION>
                        <OPTION value="Africa/Kigali">Africa/Kigali</OPTION>
                        <OPTION value="Africa/Kinshasa">Africa/Kinshasa</OPTION>
                        <OPTION value="Africa/Lagos">Africa/Lagos</OPTION>
                        <OPTION value="Africa/Libreville">Africa/Libreville</OPTION>
                        <OPTION value="Africa/Lome">Africa/Lome</OPTION>
                        <OPTION value="Africa/Luanda">Africa/Luanda</OPTION>
                        <OPTION value="Africa/Lubumbashi">Africa/Lubumbashi</OPTION>
                        <OPTION value="Africa/Lusaka">Africa/Lusaka</OPTION>
                        <OPTION value="Africa/Malabo">Africa/Malabo</OPTION>
                        <OPTION value="Africa/Maputo">Africa/Maputo</OPTION>
                        <OPTION value="Africa/Maseru">Africa/Maseru</OPTION>
                        <OPTION value="Africa/Mbabane">Africa/Mbabane</OPTION>
                        <OPTION value="Africa/Mogadishu">Africa/Mogadishu</OPTION>
                        <OPTION value="Africa/Monrovia">Africa/Monrovia</OPTION>
                        <OPTION value="Africa/Nairobi">Africa/Nairobi</OPTION>
                        <OPTION value="Africa/Ndjamena">Africa/Ndjamena</OPTION>
                        <OPTION value="Africa/Niamey">Africa/Niamey</OPTION>
                        <OPTION value="Africa/Nouakchott">Africa/Nouakchott</OPTION>
                        <OPTION value="Africa/Ouagadougou">Africa/Ouagadougou</OPTION>
                        <OPTION value="Africa/Porto-Novo">Africa/Porto-Novo</OPTION>
                        <OPTION value="Africa/Sao_Tome">Africa/Sao_Tome</OPTION>
                        <OPTION value="Africa/Timbuktu">Africa/Timbuktu</OPTION>
                        <OPTION value="Africa/Tripoli">Africa/Tripoli</OPTION>
                        <OPTION value="Africa/Tunis">Africa/Tunis</OPTION>
                        <OPTION value="Africa/Windhoek">Africa/Windhoek</OPTION>
                        <OPTION value="America/Adak">America/Adak</OPTION>
                        <OPTION value="America/Anchorage">America/Anchorage</OPTION>
                        <OPTION value="America/Anguilla">America/Anguilla</OPTION>
                        <OPTION value="America/Antigua">America/Antigua</OPTION>
                        <OPTION value="America/Araguaina">America/Araguaina</OPTION>
                        <OPTION value="America/Argentina/Buenos_Aires">America/Argentina/Buenos_Aires</OPTION>
                        <OPTION value="America/Argentina/Catamarca">America/Argentina/Catamarca</OPTION>
                        <OPTION value="America/Argentina/ComodRivadavia">America/Argentina/ComodRivadavia</OPTION>
                        <OPTION value="America/Argentina/Cordoba">America/Argentina/Cordoba</OPTION>
                        <OPTION value="America/Argentina/Jujuy">America/Argentina/Jujuy</OPTION>
                        <OPTION value="America/Argentina/La_Rioja">America/Argentina/La_Rioja</OPTION>
                        <OPTION value="America/Argentina/Mendoza">America/Argentina/Mendoza</OPTION>
                        <OPTION value="America/Argentina/Rio_Gallegos">America/Argentina/Rio_Gallegos</OPTION>
                        <OPTION value="America/Argentina/Salta">America/Argentina/Salta</OPTION>
                        <OPTION value="America/Argentina/San_Juan">America/Argentina/San_Juan</OPTION>
                        <OPTION value="America/Argentina/San_Luis">America/Argentina/San_Luis</OPTION>
                        <OPTION value="America/Argentina/Tucuman">America/Argentina/Tucuman</OPTION>
                        <OPTION value="America/Argentina/Ushuaia">America/Argentina/Ushuaia</OPTION>
                        <OPTION value="America/Aruba">America/Aruba</OPTION>
                        <OPTION value="America/Asuncion">America/Asuncion</OPTION>
                        <OPTION value="America/Atikokan">America/Atikokan</OPTION>
                        <OPTION value="America/Atka">America/Atka</OPTION>
                        <OPTION value="America/Bahia">America/Bahia</OPTION>
                        <OPTION value="America/Bahia_Banderas">America/Bahia_Banderas</OPTION>
                        <OPTION value="America/Barbados">America/Barbados</OPTION>
                        <OPTION value="America/Belem">America/Belem</OPTION>
                        <OPTION value="America/Belize">America/Belize</OPTION>
                        <OPTION value="America/Blanc-Sablon">America/Blanc-Sablon</OPTION>
                        <OPTION value="America/Boa_Vista">America/Boa_Vista</OPTION>
                        <OPTION value="America/Bogota">America/Bogota</OPTION>
                        <OPTION value="America/Boise">America/Boise</OPTION>
                        <OPTION value="America/Buenos_Aires">America/Buenos_Aires</OPTION>
                        <OPTION value="America/Cambridge_Bay">America/Cambridge_Bay</OPTION>
                        <OPTION value="America/Campo_Grande">America/Campo_Grande</OPTION>
                        <OPTION value="America/Cancun">America/Cancun</OPTION>
                        <OPTION value="America/Caracas">America/Caracas</OPTION>
                        <OPTION value="America/Catamarca">America/Catamarca</OPTION>
                        <OPTION value="America/Cayenne">America/Cayenne</OPTION>
                        <OPTION value="America/Cayman">America/Cayman</OPTION>
                        <OPTION value="America/Chicago">America/Chicago</OPTION>
                        <OPTION value="America/Chihuahua">America/Chihuahua</OPTION>
                        <OPTION value="America/Coral_Harbour">America/Coral_Harbour</OPTION>
                        <OPTION value="America/Cordoba">America/Cordoba</OPTION>
                        <OPTION value="America/Costa_Rica">America/Costa_Rica</OPTION>
                        <OPTION value="America/Creston">America/Creston</OPTION>
                        <OPTION value="America/Cuiaba">America/Cuiaba</OPTION>
                        <OPTION value="America/Curacao">America/Curacao</OPTION>
                        <OPTION value="America/Danmarkshavn">America/Danmarkshavn</OPTION>
                        <OPTION value="America/Dawson">America/Dawson</OPTION>
                        <OPTION value="America/Dawson_Creek">America/Dawson_Creek</OPTION>
                        <OPTION value="America/Denver">America/Denver</OPTION>
                        <OPTION value="America/Detroit">America/Detroit</OPTION>
                        <OPTION value="America/Dominica">America/Dominica</OPTION>
                        <OPTION value="America/Edmonton">America/Edmonton</OPTION>
                        <OPTION value="America/Eirunepe">America/Eirunepe</OPTION>
                        <OPTION value="America/El_Salvador">America/El_Salvador</OPTION>
                        <OPTION value="America/Ensenada">America/Ensenada</OPTION>
                        <OPTION value="America/Fort_Nelson">America/Fort_Nelson</OPTION>
                        <OPTION value="America/Fort_Wayne">America/Fort_Wayne</OPTION>
                        <OPTION value="America/Fortaleza">America/Fortaleza</OPTION>
                        <OPTION value="America/Glace_Bay">America/Glace_Bay</OPTION>
                        <OPTION value="America/Godthab">America/Godthab</OPTION>
                        <OPTION value="America/Goose_Bay">America/Goose_Bay</OPTION>
                        <OPTION value="America/Grand_Turk">America/Grand_Turk</OPTION>
                        <OPTION value="America/Grenada">America/Grenada</OPTION>
                        <OPTION value="America/Guadeloupe">America/Guadeloupe</OPTION>
                        <OPTION value="America/Guatemala">America/Guatemala</OPTION>
                        <OPTION value="America/Guayaquil">America/Guayaquil</OPTION>
                        <OPTION value="America/Guyana">America/Guyana</OPTION>
                        <OPTION value="America/Halifax">America/Halifax</OPTION>
                        <OPTION value="America/Havana">America/Havana</OPTION>
                        <OPTION value="America/Hermosillo">America/Hermosillo</OPTION>
                        <OPTION value="America/Indiana/Indianapolis">America/Indiana/Indianapolis</OPTION>
                        <OPTION value="America/Indiana/Knox">America/Indiana/Knox</OPTION>
                        <OPTION value="America/Indiana/Marengo">America/Indiana/Marengo</OPTION>
                        <OPTION value="America/Indiana/Petersburg">America/Indiana/Petersburg</OPTION>
                        <OPTION value="America/Indiana/Tell_City">America/Indiana/Tell_City</OPTION>
                        <OPTION value="America/Indiana/Vevay">America/Indiana/Vevay</OPTION>
                        <OPTION value="America/Indiana/Vincennes">America/Indiana/Vincennes</OPTION>
                        <OPTION value="America/Indiana/Winamac">America/Indiana/Winamac</OPTION>
                        <OPTION value="America/Indianapolis">America/Indianapolis</OPTION>
                        <OPTION value="America/Inuvik">America/Inuvik</OPTION>
                        <OPTION value="America/Iqaluit">America/Iqaluit</OPTION>
                        <OPTION value="America/Jamaica">America/Jamaica</OPTION>
                        <OPTION value="America/Jujuy">America/Jujuy</OPTION>
                        <OPTION value="America/Juneau">America/Juneau</OPTION>
                        <OPTION value="America/Kentucky/Louisville">America/Kentucky/Louisville</OPTION>
                        <OPTION value="America/Kentucky/Monticello">America/Kentucky/Monticello</OPTION>
                        <OPTION value="America/Knox_IN">America/Knox_IN</OPTION>
                        <OPTION value="America/Kralendijk">America/Kralendijk</OPTION>
                        <OPTION value="America/La_Paz">America/La_Paz</OPTION>
                        <OPTION value="America/Lima">America/Lima</OPTION>
                        <OPTION value="America/Los_Angeles">America/Los_Angeles</OPTION>
                        <OPTION value="America/Louisville">America/Louisville</OPTION>
                        <OPTION value="America/Lower_Princes">America/Lower_Princes</OPTION>
                        <OPTION value="America/Maceio">America/Maceio</OPTION>
                        <OPTION value="America/Managua">America/Managua</OPTION>
                        <OPTION value="America/Manaus">America/Manaus</OPTION>
                        <OPTION value="America/Marigot">America/Marigot</OPTION>
                        <OPTION value="America/Martinique">America/Martinique</OPTION>
                        <OPTION value="America/Matamoros">America/Matamoros</OPTION>
                        <OPTION value="America/Mazatlan">America/Mazatlan</OPTION>
                        <OPTION value="America/Mendoza">America/Mendoza</OPTION>
                        <OPTION value="America/Menominee">America/Menominee</OPTION>
                        <OPTION value="America/Merida">America/Merida</OPTION>
                        <OPTION value="America/Metlakatla">America/Metlakatla</OPTION>
                        <OPTION value="America/Mexico_City">America/Mexico_City</OPTION>
                        <OPTION value="America/Miquelon">America/Miquelon</OPTION>
                        <OPTION value="America/Moncton">America/Moncton</OPTION>
                        <OPTION value="America/Monterrey">America/Monterrey</OPTION>
                        <OPTION value="America/Montevideo">America/Montevideo</OPTION>
                        <OPTION value="America/Montreal">America/Montreal</OPTION>
                        <OPTION value="America/Montserrat">America/Montserrat</OPTION>
                        <OPTION value="America/Nassau">America/Nassau</OPTION>
                        <OPTION value="America/New_York">America/New_York</OPTION>
                        <OPTION value="America/Nipigon">America/Nipigon</OPTION>
                        <OPTION value="America/Nome">America/Nome</OPTION>
                        <OPTION value="America/Noronha">America/Noronha</OPTION>
                        <OPTION value="America/North_Dakota/Beulah">America/North_Dakota/Beulah</OPTION>
                        <OPTION value="America/North_Dakota/Center">America/North_Dakota/Center</OPTION>
                        <OPTION value="America/North_Dakota/New_Salem">America/North_Dakota/New_Salem</OPTION>
                        <OPTION value="America/Nuuk">America/Nuuk</OPTION>
                        <OPTION value="America/Ojinaga">America/Ojinaga</OPTION>
                        <OPTION value="America/Panama">America/Panama</OPTION>
                        <OPTION value="America/Pangnirtung">America/Pangnirtung</OPTION>
                        <OPTION value="America/Paramaribo">America/Paramaribo</OPTION>
                        <OPTION value="America/Phoenix">America/Phoenix</OPTION>
                        <OPTION value="America/Port-au-Prince">America/Port-au-Prince</OPTION>
                        <OPTION value="America/Port_of_Spain">America/Port_of_Spain</OPTION>
                        <OPTION value="America/Porto_Acre">America/Porto_Acre</OPTION>
                        <OPTION value="America/Porto_Velho">America/Porto_Velho</OPTION>
                        <OPTION value="America/Puerto_Rico">America/Puerto_Rico</OPTION>
                        <OPTION value="America/Punta_Arenas">America/Punta_Arenas</OPTION>
                        <OPTION value="America/Rainy_River">America/Rainy_River</OPTION>
                        <OPTION value="America/Rankin_Inlet">America/Rankin_Inlet</OPTION>
                        <OPTION value="America/Recife">America/Recife</OPTION>
                        <OPTION value="America/Regina">America/Regina</OPTION>
                        <OPTION value="America/Resolute">America/Resolute</OPTION>
                        <OPTION value="America/Rio_Branco">America/Rio_Branco</OPTION>
                        <OPTION value="America/Rosario">America/Rosario</OPTION>
                        <OPTION value="America/Santa_Isabel">America/Santa_Isabel</OPTION>
                        <OPTION value="America/Santarem">America/Santarem</OPTION>
                        <OPTION value="America/Santiago">America/Santiago</OPTION>
                        <OPTION value="America/Santo_Domingo">America/Santo_Domingo</OPTION>
                        <OPTION value="America/Sao_Paulo">America/Sao_Paulo</OPTION>
                        <OPTION value="America/Scoresbysund">America/Scoresbysund</OPTION>
                        <OPTION value="America/Shiprock">America/Shiprock</OPTION>
                        <OPTION value="America/Sitka">America/Sitka</OPTION>
                        <OPTION value="America/St_Barthelemy">America/St_Barthelemy</OPTION>
                        <OPTION value="America/St_Johns">America/St_Johns</OPTION>
                        <OPTION value="America/St_Kitts">America/St_Kitts</OPTION>
                        <OPTION value="America/St_Lucia">America/St_Lucia</OPTION>
                        <OPTION value="America/St_Thomas">America/St_Thomas</OPTION>
                        <OPTION value="America/St_Vincent">America/St_Vincent</OPTION>
                        <OPTION value="America/Swift_Current">America/Swift_Current</OPTION>
                        <OPTION value="America/Tegucigalpa">America/Tegucigalpa</OPTION>
                        <OPTION value="America/Thule">America/Thule</OPTION>
                        <OPTION value="America/Thunder_Bay">America/Thunder_Bay</OPTION>
                        <OPTION value="America/Tijuana">America/Tijuana</OPTION>
                        <OPTION value="America/Toronto">America/Toronto</OPTION>
                        <OPTION value="America/Tortola">America/Tortola</OPTION>
                        <OPTION value="America/Vancouver">America/Vancouver</OPTION>
                        <OPTION value="America/Virgin">America/Virgin</OPTION>
                        <OPTION value="America/Whitehorse">America/Whitehorse</OPTION>
                        <OPTION value="America/Winnipeg">America/Winnipeg</OPTION>
                        <OPTION value="America/Yakutat">America/Yakutat</OPTION>
                        <OPTION value="America/Yellowknife">America/Yellowknife</OPTION>
                        <OPTION value="Antarctica/Casey">Antarctica/Casey</OPTION>
                        <OPTION value="Antarctica/Davis">Antarctica/Davis</OPTION>
                        <OPTION value="Antarctica/DumontDUrville">Antarctica/DumontDUrville</OPTION>
                        <OPTION value="Antarctica/Macquarie">Antarctica/Macquarie</OPTION>
                        <OPTION value="Antarctica/Mawson">Antarctica/Mawson</OPTION>
                        <OPTION value="Antarctica/McMurdo">Antarctica/McMurdo</OPTION>
                        <OPTION value="Antarctica/Palmer">Antarctica/Palmer</OPTION>
                        <OPTION value="Antarctica/Rothera">Antarctica/Rothera</OPTION>
                        <OPTION value="Antarctica/South_Pole">Antarctica/South_Pole</OPTION>
                        <OPTION value="Antarctica/Syowa">Antarctica/Syowa</OPTION>
                        <OPTION value="Antarctica/Troll">Antarctica/Troll</OPTION>
                        <OPTION value="Antarctica/Vostok">Antarctica/Vostok</OPTION>
                        <OPTION value="Arctic/Longyearbyen">Arctic/Longyearbyen</OPTION>
                        <OPTION value="Asia/Aden">Asia/Aden</OPTION>
                        <OPTION value="Asia/Almaty">Asia/Almaty</OPTION>
                        <OPTION value="Asia/Amman">Asia/Amman</OPTION>
                        <OPTION value="Asia/Anadyr">Asia/Anadyr</OPTION>
                        <OPTION value="Asia/Aqtau">Asia/Aqtau</OPTION>
                        <OPTION value="Asia/Aqtobe">Asia/Aqtobe</OPTION>
                        <OPTION value="Asia/Ashgabat">Asia/Ashgabat</OPTION>
                        <OPTION value="Asia/Ashkhabad">Asia/Ashkhabad</OPTION>
                        <OPTION value="Asia/Atyrau">Asia/Atyrau</OPTION>
                        <OPTION value="Asia/Baghdad">Asia/Baghdad</OPTION>
                        <OPTION value="Asia/Bahrain">Asia/Bahrain</OPTION>
                        <OPTION value="Asia/Baku">Asia/Baku</OPTION>
                        <OPTION value="Asia/Bangkok">Asia/Bangkok</OPTION>
                        <OPTION value="Asia/Barnaul">Asia/Barnaul</OPTION>
                        <OPTION value="Asia/Beirut">Asia/Beirut</OPTION>
                        <OPTION value="Asia/Bishkek">Asia/Bishkek</OPTION>
                        <OPTION value="Asia/Brunei">Asia/Brunei</OPTION>
                        <OPTION value="Asia/Calcutta">Asia/Calcutta</OPTION>
                        <OPTION value="Asia/Chita">Asia/Chita</OPTION>
                        <OPTION value="Asia/Choibalsan">Asia/Choibalsan</OPTION>
                        <OPTION value="Asia/Chongqing">Asia/Chongqing</OPTION>
                        <OPTION value="Asia/Chungking">Asia/Chungking</OPTION>
                        <OPTION value="Asia/Colombo">Asia/Colombo</OPTION>
                        <OPTION value="Asia/Dacca">Asia/Dacca</OPTION>
                        <OPTION value="Asia/Damascus">Asia/Damascus</OPTION>
                        <OPTION value="Asia/Dhaka">Asia/Dhaka</OPTION>
                        <OPTION value="Asia/Dili">Asia/Dili</OPTION>
                        <OPTION value="Asia/Dubai">Asia/Dubai</OPTION>
                        <OPTION value="Asia/Dushanbe">Asia/Dushanbe</OPTION>
                        <OPTION value="Asia/Famagusta">Asia/Famagusta</OPTION>
                        <OPTION value="Asia/Gaza">Asia/Gaza</OPTION>
                        <OPTION value="Asia/Harbin">Asia/Harbin</OPTION>
                        <OPTION value="Asia/Hebron">Asia/Hebron</OPTION>
                        <OPTION value="Asia/Ho_Chi_Minh">Asia/Ho_Chi_Minh</OPTION>
                        <OPTION value="Asia/Hong_Kong">Asia/Hong_Kong</OPTION>
                        <OPTION value="Asia/Hovd">Asia/Hovd</OPTION>
                        <OPTION value="Asia/Irkutsk">Asia/Irkutsk</OPTION>
                        <OPTION value="Asia/Istanbul">Asia/Istanbul</OPTION>
                        <OPTION value="Asia/Jakarta">Asia/Jakarta</OPTION>
                        <OPTION value="Asia/Jayapura">Asia/Jayapura</OPTION>
                        <OPTION value="Asia/Jerusalem">Asia/Jerusalem</OPTION>
                        <OPTION value="Asia/Kabul">Asia/Kabul</OPTION>
                        <OPTION value="Asia/Kamchatka">Asia/Kamchatka</OPTION>
                        <OPTION value="Asia/Karachi">Asia/Karachi</OPTION>
                        <OPTION value="Asia/Kashgar">Asia/Kashgar</OPTION>
                        <OPTION value="Asia/Kathmandu">Asia/Kathmandu</OPTION>
                        <OPTION value="Asia/Katmandu">Asia/Katmandu</OPTION>
                        <OPTION value="Asia/Khandyga">Asia/Khandyga</OPTION>
                        <OPTION value="Asia/Kolkata">Asia/Kolkata</OPTION>
                        <OPTION value="Asia/Krasnoyarsk">Asia/Krasnoyarsk</OPTION>
                        <OPTION value="Asia/Kuala_Lumpur">Asia/Kuala_Lumpur</OPTION>
                        <OPTION value="Asia/Kuching">Asia/Kuching</OPTION>
                        <OPTION value="Asia/Kuwait">Asia/Kuwait</OPTION>
                        <OPTION value="Asia/Macao">Asia/Macao</OPTION>
                        <OPTION value="Asia/Macau">Asia/Macau</OPTION>
                        <OPTION value="Asia/Magadan">Asia/Magadan</OPTION>
                        <OPTION value="Asia/Makassar">Asia/Makassar</OPTION>
                        <OPTION value="Asia/Manila">Asia/Manila</OPTION>
                        <OPTION value="Asia/Muscat">Asia/Muscat</OPTION>
                        <OPTION value="Asia/Nicosia">Asia/Nicosia</OPTION>
                        <OPTION value="Asia/Novokuznetsk">Asia/Novokuznetsk</OPTION>
                        <OPTION value="Asia/Novosibirsk">Asia/Novosibirsk</OPTION>
                        <OPTION value="Asia/Omsk">Asia/Omsk</OPTION>
                        <OPTION value="Asia/Oral">Asia/Oral</OPTION>
                        <OPTION value="Asia/Phnom_Penh">Asia/Phnom_Penh</OPTION>
                        <OPTION value="Asia/Pontianak">Asia/Pontianak</OPTION>
                        <OPTION value="Asia/Pyongyang">Asia/Pyongyang</OPTION>
                        <OPTION value="Asia/Qatar">Asia/Qatar</OPTION>
                        <OPTION value="Asia/Qostanay">Asia/Qostanay</OPTION>
                        <OPTION value="Asia/Qyzylorda">Asia/Qyzylorda</OPTION>
                        <OPTION value="Asia/Rangoon">Asia/Rangoon</OPTION>
                        <OPTION value="Asia/Riyadh">Asia/Riyadh</OPTION>
                        <OPTION value="Asia/Saigon">Asia/Saigon</OPTION>
                        <OPTION value="Asia/Sakhalin">Asia/Sakhalin</OPTION>
                        <OPTION value="Asia/Samarkand">Asia/Samarkand</OPTION>
                        <OPTION value="Asia/Seoul">Asia/Seoul</OPTION>
                        <OPTION value="Asia/Shanghai">Asia/Shanghai</OPTION>
                        <OPTION value="Asia/Singapore">Asia/Singapore</OPTION>
                        <OPTION value="Asia/Srednekolymsk">Asia/Srednekolymsk</OPTION>
                        <OPTION value="Asia/Taipei">Asia/Taipei</OPTION>
                        <OPTION value="Asia/Tashkent">Asia/Tashkent</OPTION>
                        <OPTION value="Asia/Tbilisi">Asia/Tbilisi</OPTION>
                        <OPTION value="Asia/Tehran">Asia/Tehran</OPTION>
                        <OPTION value="Asia/Tel_Aviv">Asia/Tel_Aviv</OPTION>
                        <OPTION value="Asia/Thimbu">Asia/Thimbu</OPTION>
                        <OPTION value="Asia/Thimphu">Asia/Thimphu</OPTION>
                        <OPTION value="Asia/Tokyo">Asia/Tokyo</OPTION>
                        <OPTION value="Asia/Tomsk">Asia/Tomsk</OPTION>
                        <OPTION value="Asia/Ujung_Pandang">Asia/Ujung_Pandang</OPTION>
                        <OPTION value="Asia/Ulaanbaatar">Asia/Ulaanbaatar</OPTION>
                        <OPTION value="Asia/Ulan_Bator">Asia/Ulan_Bator</OPTION>
                        <OPTION value="Asia/Urumqi">Asia/Urumqi</OPTION>
                        <OPTION value="Asia/Ust-Nera">Asia/Ust-Nera</OPTION>
                        <OPTION value="Asia/Vientiane">Asia/Vientiane</OPTION>
                        <OPTION value="Asia/Vladivostok">Asia/Vladivostok</OPTION>
                        <OPTION value="Asia/Yakutsk">Asia/Yakutsk</OPTION>
                        <OPTION value="Asia/Yangon">Asia/Yangon</OPTION>
                        <OPTION value="Asia/Yekaterinburg">Asia/Yekaterinburg</OPTION>
                        <OPTION value="Asia/Yerevan">Asia/Yerevan</OPTION>
                        <OPTION value="Atlantic/Azores">Atlantic/Azores</OPTION>
                        <OPTION value="Atlantic/Bermuda">Atlantic/Bermuda</OPTION>
                        <OPTION value="Atlantic/Canary">Atlantic/Canary</OPTION>
                        <OPTION value="Atlantic/Cape_Verde">Atlantic/Cape_Verde</OPTION>
                        <OPTION value="Atlantic/Faeroe">Atlantic/Faeroe</OPTION>
                        <OPTION value="Atlantic/Faroe">Atlantic/Faroe</OPTION>
                        <OPTION value="Atlantic/Jan_Mayen">Atlantic/Jan_Mayen</OPTION>
                        <OPTION value="Atlantic/Madeira">Atlantic/Madeira</OPTION>
                        <OPTION value="Atlantic/Reykjavik">Atlantic/Reykjavik</OPTION>
                        <OPTION value="Atlantic/South_Georgia">Atlantic/South_Georgia</OPTION>
                        <OPTION value="Atlantic/St_Helena">Atlantic/St_Helena</OPTION>
                        <OPTION value="Atlantic/Stanley">Atlantic/Stanley</OPTION>
                        <OPTION value="Australia/ACT">Australia/ACT</OPTION>
                        <OPTION value="Australia/Adelaide">Australia/Adelaide</OPTION>
                        <OPTION value="Australia/Brisbane">Australia/Brisbane</OPTION>
                        <OPTION value="Australia/Broken_Hill">Australia/Broken_Hill</OPTION>
                        <OPTION value="Australia/Canberra">Australia/Canberra</OPTION>
                        <OPTION value="Australia/Currie">Australia/Currie</OPTION>
                        <OPTION value="Australia/Darwin">Australia/Darwin</OPTION>
                        <OPTION value="Australia/Eucla">Australia/Eucla</OPTION>
                        <OPTION value="Australia/Hobart">Australia/Hobart</OPTION>
                        <OPTION value="Australia/LHI">Australia/LHI</OPTION>
                        <OPTION value="Australia/Lindeman">Australia/Lindeman</OPTION>
                        <OPTION value="Australia/Lord_Howe">Australia/Lord_Howe</OPTION>
                        <OPTION value="Australia/Melbourne">Australia/Melbourne</OPTION>
                        <OPTION value="Australia/NSW">Australia/NSW</OPTION>
                        <OPTION value="Australia/North">Australia/North</OPTION>
                        <OPTION value="Australia/Perth">Australia/Perth</OPTION>
                        <OPTION value="Australia/Queensland">Australia/Queensland</OPTION>
                        <OPTION value="Australia/South">Australia/South</OPTION>
                        <OPTION value="Australia/Sydney">Australia/Sydney</OPTION>
                        <OPTION value="Australia/Tasmania">Australia/Tasmania</OPTION>
                        <OPTION value="Australia/Victoria">Australia/Victoria</OPTION>
                        <OPTION value="Australia/West">Australia/West</OPTION>
                        <OPTION value="Australia/Yancowinna">Australia/Yancowinna</OPTION>
                        <OPTION value="Brazil/Acre">Brazil/Acre</OPTION>
                        <OPTION value="Brazil/DeNoronha">Brazil/DeNoronha</OPTION>
                        <OPTION value="Brazil/East">Brazil/East</OPTION>
                        <OPTION value="Brazil/West">Brazil/West</OPTION>
                        <OPTION value="CET">CET</OPTION>
                        <OPTION value="CST6CDT">CST6CDT</OPTION>
                        <OPTION value="Canada/Atlantic">Canada/Atlantic</OPTION>
                        <OPTION value="Canada/Central">Canada/Central</OPTION>
                        <OPTION value="Canada/Eastern">Canada/Eastern</OPTION>
                        <OPTION value="Canada/Mountain">Canada/Mountain</OPTION>
                        <OPTION value="Canada/Newfoundland">Canada/Newfoundland</OPTION>
                        <OPTION value="Canada/Pacific">Canada/Pacific</OPTION>
                        <OPTION value="Canada/Saskatchewan">Canada/Saskatchewan</OPTION>
                        <OPTION value="Canada/Yukon">Canada/Yukon</OPTION>
                        <OPTION value="Chile/Continental">Chile/Continental</OPTION>
                        <OPTION value="Chile/EasterIsland">Chile/EasterIsland</OPTION>
                        <OPTION value="Cuba">Cuba</OPTION>
                        <OPTION value="EET">EET</OPTION>
                        <OPTION value="EST">EST</OPTION>
                        <OPTION value="EST5EDT">EST5EDT</OPTION>
                        <OPTION value="Egypt">Egypt</OPTION>
                        <OPTION value="Eire">Eire</OPTION>
                        <OPTION value="Etc/GMT">Etc/GMT</OPTION>
                        <OPTION value="Etc/GMT+0">Etc/GMT+0</OPTION>
                        <OPTION value="Etc/GMT+1">Etc/GMT+1</OPTION>
                        <OPTION value="Etc/GMT+10">Etc/GMT+10</OPTION>
                        <OPTION value="Etc/GMT+11">Etc/GMT+11</OPTION>
                        <OPTION value="Etc/GMT+12">Etc/GMT+12</OPTION>
                        <OPTION value="Etc/GMT+2">Etc/GMT+2</OPTION>
                        <OPTION value="Etc/GMT+3">Etc/GMT+3</OPTION>
                        <OPTION value="Etc/GMT+4">Etc/GMT+4</OPTION>
                        <OPTION value="Etc/GMT+5">Etc/GMT+5</OPTION>
                        <OPTION value="Etc/GMT+6">Etc/GMT+6</OPTION>
                        <OPTION value="Etc/GMT+7">Etc/GMT+7</OPTION>
                        <OPTION value="Etc/GMT+8">Etc/GMT+8</OPTION>
                        <OPTION value="Etc/GMT+9">Etc/GMT+9</OPTION>
                        <OPTION value="Etc/GMT-0">Etc/GMT-0</OPTION>
                        <OPTION value="Etc/GMT-1">Etc/GMT-1</OPTION>
                        <OPTION value="Etc/GMT-10">Etc/GMT-10</OPTION>
                        <OPTION value="Etc/GMT-11">Etc/GMT-11</OPTION>
                        <OPTION value="Etc/GMT-12">Etc/GMT-12</OPTION>
                        <OPTION value="Etc/GMT-13">Etc/GMT-13</OPTION>
                        <OPTION value="Etc/GMT-14">Etc/GMT-14</OPTION>
                        <OPTION value="Etc/GMT-2">Etc/GMT-2</OPTION>
                        <OPTION value="Etc/GMT-3">Etc/GMT-3</OPTION>
                        <OPTION value="Etc/GMT-4">Etc/GMT-4</OPTION>
                        <OPTION value="Etc/GMT-5">Etc/GMT-5</OPTION>
                        <OPTION value="Etc/GMT-6">Etc/GMT-6</OPTION>
                        <OPTION value="Etc/GMT-7">Etc/GMT-7</OPTION>
                        <OPTION value="Etc/GMT-8">Etc/GMT-8</OPTION>
                        <OPTION value="Etc/GMT-9">Etc/GMT-9</OPTION>
                        <OPTION value="Etc/GMT0">Etc/GMT0</OPTION>
                        <OPTION value="Etc/Greenwich">Etc/Greenwich</OPTION>
                        <OPTION value="Etc/UCT">Etc/UCT</OPTION>
                        <OPTION value="Etc/UTC">Etc/UTC</OPTION>
                        <OPTION value="Etc/Universal">Etc/Universal</OPTION>
                        <OPTION value="Etc/Zulu">Etc/Zulu</OPTION>
                        <OPTION value="Europe/Amsterdam">Europe/Amsterdam</OPTION>
                        <OPTION value="Europe/Andorra">Europe/Andorra</OPTION>
                        <OPTION value="Europe/Astrakhan">Europe/Astrakhan</OPTION>
                        <OPTION value="Europe/Athens">Europe/Athens</OPTION>
                        <OPTION value="Europe/Belfast">Europe/Belfast</OPTION>
                        <OPTION value="Europe/Belgrade">Europe/Belgrade</OPTION>
                        <OPTION value="Europe/Berlin">Europe/Berlin</OPTION>
                        <OPTION value="Europe/Bratislava">Europe/Bratislava</OPTION>
                        <OPTION value="Europe/Brussels">Europe/Brussels</OPTION>
                        <OPTION value="Europe/Bucharest">Europe/Bucharest</OPTION>
                        <OPTION value="Europe/Budapest">Europe/Budapest</OPTION>
                        <OPTION value="Europe/Busingen">Europe/Busingen</OPTION>
                        <OPTION value="Europe/Chisinau">Europe/Chisinau</OPTION>
                        <OPTION value="Europe/Copenhagen">Europe/Copenhagen</OPTION>
                        <OPTION value="Europe/Dublin">Europe/Dublin</OPTION>
                        <OPTION value="Europe/Gibraltar">Europe/Gibraltar</OPTION>
                        <OPTION value="Europe/Guernsey">Europe/Guernsey</OPTION>
                        <OPTION value="Europe/Helsinki">Europe/Helsinki</OPTION>
                        <OPTION value="Europe/Isle_of_Man">Europe/Isle_of_Man</OPTION>
                        <OPTION value="Europe/Istanbul">Europe/Istanbul</OPTION>
                        <OPTION value="Europe/Jersey">Europe/Jersey</OPTION>
                        <OPTION value="Europe/Kaliningrad">Europe/Kaliningrad</OPTION>
                        <OPTION value="Europe/Kiev">Europe/Kiev</OPTION>
                        <OPTION value="Europe/Kirov">Europe/Kirov</OPTION>
                        <OPTION value="Europe/Lisbon">Europe/Lisbon</OPTION>
                        <OPTION value="Europe/Ljubljana">Europe/Ljubljana</OPTION>
                        <OPTION value="Europe/London">Europe/London</OPTION>
                        <OPTION value="Europe/Luxembourg">Europe/Luxembourg</OPTION>
                        <OPTION value="Europe/Madrid">Europe/Madrid</OPTION>
                        <OPTION value="Europe/Malta">Europe/Malta</OPTION>
                        <OPTION value="Europe/Mariehamn">Europe/Mariehamn</OPTION>
                        <OPTION value="Europe/Minsk">Europe/Minsk</OPTION>
                        <OPTION value="Europe/Monaco">Europe/Monaco</OPTION>
                        <OPTION value="Europe/Moscow">Europe/Moscow</OPTION>
                        <OPTION value="Europe/Nicosia">Europe/Nicosia</OPTION>
                        <OPTION value="Europe/Oslo">Europe/Oslo</OPTION>
                        <OPTION value="Europe/Paris">Europe/Paris</OPTION>
                        <OPTION value="Europe/Podgorica">Europe/Podgorica</OPTION>
                        <OPTION value="Europe/Prague">Europe/Prague</OPTION>
                        <OPTION value="Europe/Riga">Europe/Riga</OPTION>
                        <OPTION value="Europe/Rome">Europe/Rome</OPTION>
                        <OPTION value="Europe/Samara">Europe/Samara</OPTION>
                        <OPTION value="Europe/San_Marino">Europe/San_Marino</OPTION>
                        <OPTION value="Europe/Sarajevo">Europe/Sarajevo</OPTION>
                        <OPTION value="Europe/Saratov">Europe/Saratov</OPTION>
                        <OPTION value="Europe/Simferopol">Europe/Simferopol</OPTION>
                        <OPTION value="Europe/Skopje">Europe/Skopje</OPTION>
                        <OPTION value="Europe/Sofia">Europe/Sofia</OPTION>
                        <OPTION value="Europe/Stockholm">Europe/Stockholm</OPTION>
                        <OPTION value="Europe/Tallinn">Europe/Tallinn</OPTION>
                        <OPTION value="Europe/Ti">Europe/Ti</OPTION>
                        <OPTION value="GB">GB</OPTION>
                        <OPTION value="GB-Eire">GB-Eire</OPTION>
                        <OPTION value="GMT">GMT</OPTION>
                        <OPTION value="GMT+0">GMT+0</OPTION>
                        <OPTION value="GMT-0">GMT-0</OPTION>
                        <OPTION value="GMT0">GMT0</OPTION>
                        <OPTION value="Greenwich">Greenwich</OPTION>
                        <OPTION value="HST">HST</OPTION>
                        <OPTION value="Hongkong">Hongkong</OPTION>
                        <OPTION value="Iceland">Iceland</OPTION>
                        <OPTION value="Indian/Antananarivo">Indian/Antananarivo</OPTION>
                        <OPTION value="Indian/Chagos">Indian/Chagos</OPTION>
                        <OPTION value="Indian/Christmas">Indian/Christmas</OPTION>
                        <OPTION value="Indian/Cocos">Indian/Cocos</OPTION>
                        <OPTION value="Indian/Comoro">Indian/Comoro</OPTION>
                        <OPTION value="Indian/Kerguelen">Indian/Kerguelen</OPTION>
                        <OPTION value="Indian/Mahe">Indian/Mahe</OPTION>
                        <OPTION value="Indian/Maldives">Indian/Maldives</OPTION>
                        <OPTION value="Indian/Mauritius">Indian/Mauritius</OPTION>
                        <OPTION value="Indian/Mayotte">Indian/Mayotte</OPTION>
                        <OPTION value="Indian/Reunion">Indian/Reunion</OPTION>
                        <OPTION value="Iran">Iran</OPTION>
                        <OPTION value="Israel">Israel</OPTION>
                        <OPTION value="Jamaica">Jamaica</OPTION>
                        <OPTION value="Japan">Japan</OPTION>
                        <OPTION value="Kwajalein">Kwajalein</OPTION>
                        <OPTION value="Libya">Libya</OPTION>
                        <OPTION value="MET">MET</OPTION>
                        <OPTION value="MST">MST</OPTION>
                        <OPTION value="MST7MDT">MST7MDT</OPTION>
                        <OPTION value="Mexico/BajaNorte">Mexico/BajaNorte</OPTION>
                        <OPTION value="Mexico/BajaSur">Mexico/BajaSur</OPTION>
                        <OPTION value="Mexico/General">Mexico/General</OPTION>
                        <OPTION value="NZ">NZ</OPTION>
                        <OPTION value="NZ-CHAT">NZ-CHAT</OPTION>
                        <OPTION value="Navajo">Navajo</OPTION>
                        <OPTION value="PRC">PRC</OPTION>
                        <OPTION value="PST8PDT">PST8PDT</OPTION>
                        <OPTION value="Pacific/Apia">Pacific/Apia</OPTION>
                        <OPTION value="Pacific/Auckland">Pacific/Auckland</OPTION>
                        <OPTION value="Pacific/Bougainville">Pacific/Bougainville</OPTION>
                        <OPTION value="Pacific/Chatham">Pacific/Chatham</OPTION>
                        <OPTION value="Pacific/Chuuk">Pacific/Chuuk</OPTION>
                        <OPTION value="Pacific/Easter">Pacific/Easter</OPTION>
                        <OPTION value="Pacific/Efate">Pacific/Efate</OPTION>
                        <OPTION value="Pacific/Enderbury">Pacific/Enderbury</OPTION>
                        <OPTION value="Pacific/Fakaofo">Pacific/Fakaofo</OPTION>
                        <OPTION value="Pacific/Fiji">Pacific/Fiji</OPTION>
                        <OPTION value="Pacific/Funafuti">Pacific/Funafuti</OPTION>
                        <OPTION value="Pacific/Galapagos">Pacific/Galapagos</OPTION>
                        <OPTION value="Pacific/Gambier">Pacific/Gambier</OPTION>
                        <OPTION value="Pacific/Guadalcanal">Pacific/Guadalcanal</OPTION>
                        <OPTION value="Pacific/Guam">Pacific/Guam</OPTION>
                        <OPTION value="Pacific/Honolulu">Pacific/Honolulu</OPTION>
                        <OPTION value="Pacific/Johnston">Pacific/Johnston</OPTION>
                        <OPTION value="Pacific/Kiritimati">Pacific/Kiritimati</OPTION>
                        <OPTION value="Pacific/Kosrae">Pacific/Kosrae</OPTION>
                        <OPTION value="Pacific/Kwajalein">Pacific/Kwajalein</OPTION>
                        <OPTION value="Pacific/Majuro">Pacific/Majuro</OPTION>
                        <OPTION value="Pacific/Marquesas">Pacific/Marquesas</OPTION>
                        <OPTION value="Pacific/Midway">Pacific/Midway</OPTION>
                        <OPTION value="Pacific/Nauru">Pacific/Nauru</OPTION>
                        <OPTION value="Pacific/Niue">Pacific/Niue</OPTION>
                        <OPTION value="Pacific/Norfolk">Pacific/Norfolk</OPTION>
                        <OPTION value="Pacific/Noumea">Pacific/Noumea</OPTION>
                        <OPTION value="Pacific/Pago_Pago">Pacific/Pago_Pago</OPTION>
                        <OPTION value="Pacific/Palau">Pacific/Palau</OPTION>
                        <OPTION value="Pacific/Pitcairn">Pacific/Pitcairn</OPTION>
                        <OPTION value="Pacific/Pohnpei">Pacific/Pohnpei</OPTION>
                        <OPTION value="Pacific/Ponape">Pacific/Ponape</OPTION>
                        <OPTION value="Pacific/Port_Moresby">Pacific/Port_Moresby</OPTION>
                        <OPTION value="Pacific/Rarotonga">Pacific/Rarotonga</OPTION>
                        <OPTION value="Pacific/Saipan">Pacific/Saipan</OPTION>
                        <OPTION value="Pacific/Samoa">Pacific/Samoa</OPTION>
                        <OPTION value="Pacific/Tahiti">Pacific/Tahiti</OPTION>
                        <OPTION value="Pacific/Tarawa">Pacific/Tarawa</OPTION>
                        <OPTION value="Pacific/Tongatapu">Pacific/Tongatapu</OPTION>
                        <OPTION value="Pacific/Truk">Pacific/Truk</OPTION>
                        <OPTION value="Pacific/Wake">Pacific/Wake</OPTION>
                        <OPTION value="Pacific/Wallis">Pacific/Wallis</OPTION>
                        <OPTION value="Pacific/Yap">Pacific/Yap</OPTION>
                        <OPTION value="Poland">Poland</OPTION>
                        <OPTION value="Portugal">Portugal</OPTION>
                        <OPTION value="ROC">ROC</OPTION>
                        <OPTION value="ROK">ROK</OPTION>
                        <OPTION value="Singapore">Singapore</OPTION>
                        <OPTION value="Turkey">Turkey</OPTION>
                        <OPTION value="UCT">UCT</OPTION>
                        <OPTION value="US/Alaska">US/Alaska</OPTION>
                        <OPTION value="US/Aleutian">US/Aleutian</OPTION>
                        <OPTION value="US/Arizona">US/Arizona</OPTION>
                        <OPTION value="US/Central">US/Central</OPTION>
                        <OPTION value="US/East-Indiana">US/East-Indiana</OPTION>
                        <OPTION value="US/Eastern">US/Eastern</OPTION>
                        <OPTION value="US/Hawaii">US/Hawaii</OPTION>
                        <OPTION value="US/Indiana-Starke">US/Indiana-Starke</OPTION>
                        <OPTION value="US/Michigan">US/Michigan</OPTION>
                        <OPTION value="US/Mountain">US/Mountain</OPTION>
                        <OPTION value="US/Pacific" selected>US/Pacific</OPTION>
                        <OPTION value="US/Samoa">US/Samoa</OPTION>
                        <OPTION value="UTC">UTC</OPTION>
                        <OPTION value="Universal">Universal</OPTION>
                        <OPTION value="W-SU">W-SU</OPTION>
                        <OPTION value="WET">WET</OPTION>
                        <OPTION value="Zulu">Zulu</OPTION>
                    </SELECT>
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Sign Up</button">
        </form">
    </div>
</div>
{% endblock %}